absl_py==2.4.0+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
asttokens==3.0.1+computecanada
attrs==26.1.0+computecanada
beautifulsoup4==4.14.3+computecanada
black==26.5.1
certifi==2026.5.20+computecanada
charset_normalizer==3.4.7+computecanada
click==8.4.1+computecanada
cloudpickle==3.1.2+computecanada
comm==0.2.3+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.19+computecanada
decorator==5.2.1+computecanada
dm_control==1.0.28+computecanada
dm_env==1.6+computecanada
dm_tree==0.1.9+computecanada
executing==2.2.1+computecanada
Farama-Notifications==0.0.6
filelock==3.29.1
fonttools==4.61.1+computecanada
fsspec==2026.4.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.50
glfw @ file:///tmp/ebuser/avx512/GLFW/3.4/GCCcore-12.3-gentoo/glfw/glfw-2.8.0
grpcio==1.76.0+computecanada
gym==0.23.0
gym-notices==0.1.0
gymnasium==1.3.0
h5py==3.12.0+computecanada
hydra_core==1.3.2+computecanada
idna==3.18
imageio==2.37.3+computecanada
imageio_ffmpeg==0.6.0+computecanada
importlib_metadata==9.0.0+computecanada
ipykernel==7.1.0+computecanada
ipython==9.9.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
ipywidgets==8.1.8+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jupyter_client==8.8.0+computecanada
jupyter_core==5.9.1+computecanada
jupyterlab_widgets==3.0.16+computecanada
kiwisolver==1.4.9+computecanada
lxml==6.1.1+computecanada
markdown==3.10.2+computecanada
markupsafe==3.0.3+computecanada
matplotlib==3.10.8+computecanada
matplotlib_inline==0.2.1+computecanada
moviepy==2.2.1+computecanada
mpmath==1.3.0+computecanada
mujoco @ file:///tmp/ebuser/avx512/MuJoCo/3.3.0/GCCcore-12.3-gentoo/mujoco/mujoco-3.3.0
mypy_extensions==1.1.0+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.6.1+computecanada
nose==1.3.7+computecanada
numpy==2.4.2+computecanada
omegaconf==2.3.0+computecanada
opencv_contrib_python==4.13.0
opencv_contrib_python_headless==4.13.0
opencv_python==4.13.0
opencv_python_headless==4.13.0
orjson==3.11.7+computecanada
packaging==26.0+computecanada
pandas==3.0.0+computecanada
parso==0.8.5+computecanada
pathspec==1.1.1
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==3.11.0+computecanada
proglog==0.1.12+computecanada
prompt_toolkit==3.0.52+computecanada
protobuf==6.33.6+computecanada
psutil==7.2.2+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pybullet==3.2.7+computecanada
pydantic==2.13.4+computecanada
pydantic_core==2.46.4+computecanada
pygame==2.5.2+computecanada
pygments==2.19.2+computecanada
pyopengl==3.1.10+computecanada
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.2.2+computecanada
pytokens==0.4.1+computecanada
pytz==2025.2+computecanada
pyvers==0.2.2+computecanada
pyyaml==6.0.3+computecanada
pyzmq==27.1.0+computecanada
-e git+ssh://git@github.com/AlexP210/repo.git@a8fc8b5b99d1c2a4b423b55dc2a4f40d0982d665#egg=repo
requests==2.34.2+computecanada
scikit-video==1.1.11
scipy==1.17.0+computecanada
sentry-sdk==2.61.1
six==1.17.0+computecanada
smmap==5.0.3+computecanada
soupsieve==2.8.4
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
-e git+ssh://git@github.com/AlexP210/tdmpc2.git@9845203de3d753a1906853de41e2ad030048f5a2#egg=tdmpc2
tensorboard==2.20.0+computecanada
tensorboard_data_server==0.7.2+computecanada
tensordict==0.11.0+computecanada
torch==2.10.0+computecanada
torchaudio==2.11.0+computecanada
torchvision==0.26.0+computecanada
tornado==6.5.4+computecanada
tqdm==4.68.1
traitlets==5.14.3+computecanada
transforms3d==0.4.2
trimesh==4.12.2
-e git+ssh://git@github.com/AlexP210/tsd.git@684e555dae73918928b7dca636df4c8bcf9629cb#egg=tsd
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tzdata==2025.3+computecanada
urllib3==2.7.0+computecanada
wandb==0.24.0+computecanada
wcwidth==0.5.2+computecanada
werkzeug==3.1.8+computecanada
widgetsnbextension==4.0.15+computecanada
wrapt==2.2.1
zipp==4.1.0
